@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, serif;
  color: white;
}

.bg {
  min-height: 100vh;
  background: linear-gradient(rgb(0 0 0 / 86%), rgb(0 0 0 / 63%)),
    url(https://wallpaperaccess.com/full/1512223.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.searchBox {
  background: white;
  width: 40%;
  border-radius: 5px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: large;
}

.searchBox input {
  width: 80%;
  color: black;
}
.searchBox input,
.searchBox button {
  appearance: none;
  border: none;
  outline: none;
  padding: 10px 20px;
  background: transparent;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.card-container .card {
  height: 450px;
}
.card-container img {
  height: 75%;
  object-fit: cover;
  object-position: center;
}

.no-data {
  color: red;
  margin: 60px 0;
}